:root{
    --bgcolor:#353A40;
    --textcolor: white;
    --colorbtn:#27A844;
    --colorgrey: #B8B8B8; 
}
.bgcolor{
    background-color: var(--bgcolor);
}
.logo{
    color: var(--textcolor);
}
.colorgray{
    color:var(--colorgrey);
}
#colorText{
    color: var(--textcolor);
}
#colorTicket{
    color:#4FB331 ;
}
.contenedor{
    display: flex;
    padding: 1em;
    margin: 1em;
    justify-content:space-evenly;
}
h5{
    text-align: center;
}
.card{
    border-radius: 0%;
}
.card-body{
    text-align: center;
}
.centrar{
    text-align: center;
}
.container{
    width: 100%;
}
.btnColor{
    background-color: #96C93E;
    color: white;
    margin:0.5em;
    margin-bottom: 2em;
    width: 45%;
    }
    footer{
        background-color: #244859;
        margin-top: 1rem;
    }
   footer li .nav-link{
        color: var(--textcolor); 
        font-size: 0.9em;
        
    }